@{
  Layout = "_Layout";
}

@model ContactIdentityList.Models.Contact

<h3>Add new contact</h3>
<hr>

<p>@Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger", @style = "font-weight: 600;"})</p>
<br>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FullName)
  @Html.TextBoxFor(model => model.FullName)
  <br>

  @Html.LabelFor(model => model.ShortName)
  @Html.TextBoxFor(model => model.ShortName)
  <br>

  <input type="submit" value="Add new contact" class="btn btn-default" />
  <br>
}
